<h2 class='page_hdr'>Beer Styles - Show</h2>
<container class='siz20l'>
  <div>
    <h3>Style:</h3><%= @beer_style.style %>
    <p>Style Note: <%= @beer_style.style_note %></p>
    <p>Default Flavour Value: <%= @beer_style.beer_flavour_val %></p>
  </div>
</container>
<container class='siz40r'>
  <p>Reccomended food styles shown below</p>
  <div>
    <% @beer_style.food_styles.order(:style).each do |food_style| %>
      <div class="list-group-item">
        <ul class="ul_list">
          <li><%= link_to(food_style.style, food_style_path(food_style.id), :class => 'link_line')%></li>
          <% food_style.style_matches.each do |style_match| %>
            <% if style_match.beer_style_id == @beer_style.id %>
              <p><%= style_match.match_note %></p>
            <% end %>
          <% end %>
        </ul>
      </div>
    <% end %>
  </div>
</container>