
  <container class='siz20l'>
    <h2>foods</h2>

  <!-- ===== Search Field to restrict list -->
    <%= form_for foods_path, :method => 'get' do %>
      <p>
        <%= text_field_tag :search %>
        <%= submit_tag "search" %>
      </p>
    <% end %>

  <!-- ====== end of search field ======= -->

  <!-- =======New food Form =================== -->

    <button class="food-entry-form" rel='external'>New Food</button>
    <div class="new-food hidden">
      <ul class="ul_list">
      <%= form_for @food do |form| %>     
        <li><%= form.label :name, :class => 'input_label' %></li>
        <li><%= form.text_field :name, :class => 'input1' %></li>

        <li><%= form.label :food_notes, :class => 'input_label' %></li>
        <li><%= form.text_area :food_notes, :class => 'input1' %></li>

        <li><%= form.label :food_style_id, :class => 'input_label' %></li>
        <li><%=form.collection_select(:food_style_id, FoodStyle.all, :id, :style, {:prompt=>true}, {:class=>'input1'}) %></li>
        <li>Select Flavour strength</li>
        <li>
          <%= form.label(:food_flavour_val, "1 ") %>
          <%= form.radio_button(:food_flavour_val, 1) %>
          <%= form.label(:food_flavour_val, " Delicate") %>
        </li>
        <li>
          <%= form.label(:food_flavour_val, "2 ") %>
          <%= form.radio_button(:food_flavour_val, 2) %>
        </li>
        <li>
          <%= form.label(:food_flavour_val, "3 ") %>
          <%= form.radio_button(:food_flavour_val, 3) %>
        </li>
        <li>
          <%= form.label(:food_flavour_val, "4 ") %>
          <%= form.radio_button(:food_flavour_val, 4) %>
        </li>
        <li>
          <%= form.label(:food_flavour_val, "5 ") %>
          <%= form.radio_button(:food_flavour_val, 5) %><%= form.label(:food_flavour_val, " Strong") %>
        </li>

        <li><%= form.submit 'Submit' , :class => 'submit_it' %></li>

      <% end %>
      </ul>
    </div>
  </container>

  <!-- ============  end of 'New food' form ============== -->

  <!-- ======= list all foods  =========================== -->
  <container class='siz30l'>
    <div>
      <% @foods.order(:name).each do |food| %>
        <div class="food_list_div">
          <ul class="ul_list">
            <li><%= link_to(food.name, food_path(food.id), :class => 'link_line' )%></li>
          </ul>
        </div>
      <% end %>
    </div>
  </container>

<!-- ====== end of 'list all foods' ========== -->

