<h2 class='page_hdr'>Food pairings - <%= @food.name %></h2>
<container class='siz30l'>
  <div>
    <p><%= @food.name %></p>
    <p><%= @food.food_notes %></p>
  </div>
</container>
<container class='siz60r'>
  <p>Beer pairings shown below for your chosen meal..</p>
  <div>
    <% @food.beers.each do |beer| %>
      <div class="list-group-item">
        <ul class="ul_list">
          <li><%= link_to(beer.name, beer_path(beer.id), :class => 'link_line')%></li>
          <% beer.matches.each do |match| %>
            <% if match.food_id == @food.id %>
              <p><%= match.match_note %></p>
            <% end %>
          <% end %>
        </ul>
      </div>
    <% end %>
  </div>
</container>