<h2 class='page_hdr'>Food pairings - <%= @food.name %></h2>
<container class='siz30l'>
  <div>
    <p>Food               :<%= @food.name %></p>
    <p>Cuisine/Type       : <%= @food.food_style.style %></p>
    <p>Food flavour value :<%= @food.food_flavour_val %></p>
    <p><%= @food.food_notes %></p>
  </div>
</container>
<container class='siz60r'>
  <p>Beer pairings shown below for your chosen meal..</p>
  <div>
    <% @food.beers.order(:name).uniq.each do |beer| %>
      <div class="list-group-item">
        <ul class="ul_list">
          <li><%= link_to(beer.name, beer_path(beer.id), :class => 'link_line')%></li>
          <%== beer_matches_details(beer)[1] %>
          Average rating: <%= beer_matches_details(beer)[0] %> from <%= beer_matches_details(beer)[2] %> reviews
        </ul>
      </div>
    <% end %>
  </div>
</container>