<container class='siz20l'>
  <h2>Beers</h2>

  <!-- ===== Search Field to restrict list -->
  <%= form_for beers_path, :method => 'get' do %>
    <p>
      <%= text_field_tag :search %>
      <%= submit_tag "search" %>
    </p>
  <% end %>

  <!-- ====== end of search field ======= -->

  <button class="beer-entry-form" rel='external'>New Beer</button>
  <div class="new-beer hidden">
    <ul class="ul_list">
      <%= form_for @beer do |form| %>
        
        <li><%= form.label :name, :class => 'input_label' %></li>
        <li><%= form.text_field :name, :class => 'input1' %></li>

        <li><%= form.label :brewer, :class => 'input_label' %></li>
        <li><%= form.text_field :brewer, :class => 'input1' %></li>

        <li><%= form.label :beer_note, :class => 'input_label' %></li>
        <li><%= form.text_area :beer_note, :class => 'input2' %></li>

        <li><%= form.label :beer_style_id, :class => 'input_label' %></li>
        <li><%=form.collection_select(:beer_style_id, BeerStyle.all, :id, :style, {:prompt=>true}, {:class=>'form-select-b'}) %></li>

        <li><%= form.label :image, :class => 'input_label' %></li>
        <li><%= form.text_field :image, :class => 'input1' %></li>

        <li>Select Flavour strength</li>
          <li>
            <%= form.label(:beer_flavour_val, "1 ") %>
            <%= form.radio_button(:beer_flavour_val, 1) %>
            <%= form.label(:beer_flavour_val, " Delicate") %>
          </li>
          <li>
            <%= form.label(:beer_flavour_val, "2 ") %>
            <%= form.radio_button(:beer_flavour_val, 2) %>
          </li>
          <li>
            <%= form.label(:beer_flavour_val, "3 ") %>
            <%= form.radio_button(:beer_flavour_val, 3) %>
          </li>
          <li>
            <%= form.label(:beer_flavour_val, "4 ") %>
            <%= form.radio_button(:beer_flavour_val, 4) %>
          </li>
          <li>
            <%= form.label(:beer_flavour_val, "5 ") %>
            <%= form.radio_button(:beer_flavour_val, 5) %><%= form.label(:beer_flavour_val, " Strong") %>
          </li>

        <li><%= form.submit 'Submit' , :class => 'submit_it' %></li>

      <% end %>
    </ul>
  </div>
</container>
<container class='siz30l'>
  <div>
    <% @beers.order(:name).each do |beer| %>
      <div class="list-group-item">
        <ul class="ul_list">
          <li><%= link_to(beer.name, beer_path(beer.id), :class => 'link_line')%></li>
        </ul>
      </div>
    <% end %>
  </div>
</container>
<container class='siz40r'>
  <div>
    <h3 class='info_hdr'>The food IN your beer!</h3>
    <h3 class='info_hdr'>WATER</h3>
    <p><img class='info_img' src="/assets/water.png">
      Since beer consists of water for more than 90%, a high water quality is of paramount importance. Numerous ions in it influence the brewing process to a larger or smaller extent.
    </p>
    <h3 class='info_hdr'>MALT</h3>
    <p><img class='info_img' src="/assets/malt.jpeg">
      Malt is barley soaked in water under the required circumstances (warmth & moisture) and made to partially germinate. At a certain moment the germinating process is restricted by kilning or drying the malt in an oast-house. The term malt is used for barley grains from which the little shoot has been completely removed. During germination the barley secretes enzymes which gradually turn the insoluble starch and protein of the barley into soluble barley sugar and soluble protein. After all, the malting process aims at making the content of the barley soluble in order to make extraction possible while brewing. The composition of barley and other cereals is such that only a small proportion of them can be solved or extracted in water.

      The malt provides the larger quantity of the sugars that are converted on fermentation and for the most part it also determines the colour and the taste.

      In the St Sixtus Abbey various varieties of two-row summer barley are used.
    </p>
    <h3 class='info_hdr'>HOP</h3>
    <p><img class='info_img' src="/assets/hops.jpg">
      Hop plants are tendrils that climb up to a height of 7-8 meters. Only non-fertilised flowers of female plants are eligible for the making of beer. The most important hop constituents are the alpha acids. During the boiling of the wort (malted barley mashed with warm water) they undergo a specific thermic isomerisation resulting in the formation of iso-alpha acids which will give the beer its fine bitterness. This formation of iso-alpha acids is seen as a key reaction in the brewing process. Apart from that hop favours the shelf life of the beer. In our brewery both hop pellets and hop extracts are used, i.e. aromatic hop and super A races. We buy our hop from local hop growers in the Poperinge area.

      Getting the hopping rate perfect is a real art! The bitterness is the 'make-up' of the beer. It should give the beer its style, elegance and appeal. It should give the customer the desire for seconds, and not second thoughts when trying to get rid of a bitter aftertaste.
    </p>
    <h3 class='info_hdr'>SUGAR</h3>
    <p>
      Granulated sugar is added to enhance the density of the wort, which in its turn will result in a higher alcohol content.
    </p>
    <h3 class='info_hdr'>YEAST</h3>
    <p><img class='info_img' src="/assets/yeast.jpg">
      Yeast is a unicellular micro-organism which converts the sugars in the wort into alcohol and carbon dioxide. From the proteins on the other hand the aromas, taste and olfactory components are formed needed to give each beer its own individual touch.
    </p>
  </div>
</container>