
<!-- <container class='img15'>
  <div>
    <p><%= image_tag @beer.image %></p>
  </div>
</container> -->

<container class='siz20l'>
  <h2>Show Beers</h2>
  <div>
    <p>Brewery: <%= @beer.brewer %></p>
    <p>Name   : <%= @beer.name %></p>
    <p><%= image_tag @beer.image , :class => "beer_img"%></p>
    <p>ABV    : <%= @beer.abv %></p>
    <p>Style  : <%= @beer.beer_style.style if @beer.beer_style%></p>
    <p>Tasting notes: <%= @beer.beer_note %></p>
  </div>
</container>

<!-- I forgot to put this in  -->

<container class='siz40r'>
  <p>Food pairings shown below for your chosen beer..</p>
  <input type="checkbox" name="flavour_match" value="yes">Match flavour value?<br>
  <div>
    <% @beer.foods.order(:name).uniq.each do |food| %>
      <div class="list-group-item">
        <ul class="ul_list">
          <li><%= link_to(food.name, food_path(food.id), :class => 'link_line')%></li>
          <%== food_matches_details(food)[1] %>
          Average rating: <%= food_matches_details(food)[0] %> from <%= food_matches_details(food)[2] %> reviews
        </ul>
      </div>
    <% end %>
  </div>
</container>