<h2 class='page_hdr'>Show Beers</h2>
<container class='img15'>
  <div>
    <p><%= image_tag @beer.image %></p>
  </div>
</container>
<container class='siz30l'>
  <div>
    <p>Brewery: <%= @beer.brewer %></p>
    <p>Name   : <%= @beer.name %></p>
    <p>ABV    : <%= @beer.abv %></p>
    <p>Style  : <%= @beer.beer_style.style %></p>
    <p>Tasting notes: <%= @beer.beer_note %></p>
  </div>
</container>