<h2 class='page_hdr'>Food match - new</h2>
<container class='siz30l'>

  <ul class="ul_list">
    <%= form_for @match do |form| %>
    
    <li><%= form.label :food_id, :class => 'input_label' %></li>
    <li><%=form.collection_select(:food_id, Food.all, :id, :name, {:prompt=>true}, {:class=>'input1'}) %></li>

    <li><%= form.label :beer_id, :class => 'input_label' %></li>
    <li><%=form.collection_select(:beer_id, Beer.all, :id, :name, {:prompt=>true}, {:class=>'input1'}) %></li>

    <li><%= form.label :match_note, :class => 'input_label' %></li>
    <li><%= form.text_area :match_note, :class => 'input1' %></li>

    <!-- ================= -->
    <li>
      <%= form.label(:review_val, "One") %>
      <%= form.radio_button(:review_val, 1) %>
      <%= form.label(:review_val, "Two") %>
      <%= form.radio_button(:review_val, 2) %>
      <%= form.label(:review_val, "Three") %>
      <%= form.radio_button(:review_val, 3) %>
      <%= form.label(:review_val, "Four") %>
      <%= form.radio_button(:review_val, 4) %>
      <%= form.label(:review_val, "Five") %>
      <%= form.radio_button(:review_val, 5) %>
    </li>
    <!-- ================= -->
    <li><%= form.label :review_by, :class => 'input_label' %></li>
    <li><%= form.text_field :review_by, :class => 'input1' %></li>

    <li><%= form.submit 'Submit', :class => 'submit_it' %></li>
  <% end %>
  </ul>
</container>